    <!-- GLOBAL SCRIPTS -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script src="/plugins/popupoverlay/defaults.js"></script>
    <!-- Logout Notification Box -->
    <% include ../logout.html %>

    <!-- Logout Notification jQuery -->
    <script src="/plugins/popupoverlay/logout.js"></script>
    <!-- HISRC Retina Images -->
    <script src="/plugins/hisrc/hisrc.js"></script>

    <!-- PAGE LEVEL PLUGIN SCRIPTS -->
    <!-- HubSpot Messenger -->
    <script src="/plugins/messenger/messenger.min.js"></script>
    <script src="/plugins/messenger/messenger-theme-flat.js"></script>
    <!-- Date Range Picker -->
    <script src="/plugins/daterangepicker/moment.js"></script>
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    
    <!-- Moment.js -->
    <script src="/plugins/moment/moment.min.js"></script>
    
    <!-- THEME SCRIPTS -->
    <script src="/js/flex.js"></script>

    <!-- Modal SCRIPTS -->
    <script src="/plugins/bootstrap-modal/bootstrap-modal.js"></script>  
    <script src="/plugins/bootstrap-modal/bootstrap-modalmanager.js"></script>    