<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flex Admin - Responsive Admin Theme</title>

    <% include ../header.html%>
    <style type="text/css">
    .fa:hover{
        cursor: pointer;
    }
    .deleteButton:hover{
        color: #CCC;
    }
     a:hover{
        color:#31708f;
    }
    </style>

</head>

<body>

  <div id="wrapper">

      <!-- begin TOP NAVIGATION -->
      <% include ../topnav.html %>
      <!-- end TOP NAVIGATION -->

      <!-- begin SIDE NAVIGATION -->
      <% include project_sidenav.html %>        
      <!-- end SIDE NAVIGATION -->

      <!-- begin MAIN PAGE CONTENT -->
      <div id="page-wrapper">

          <div class="page-content">

              <!-- Basic Form Example -->
              <div class="col-lg-12" style="margin-top:20px;">
                  <div class="portlet portlet-default" style="border-style:none;"> 
                      <div id="basicFormExample" class="panel-collapse collapse in">
                          <div class="portlet-body">
                              <form role="form">
                                  <!-- begin PAGE TITLE ROW -->
                                  <div class="row">
                                       <div class="col-lg-12">
                                            <div class="page-title">
                                                <h1>
                                                  所有的讨论
                                                  <small></small>
                                                </h1>
                                            </div>
                                       </div>
                                       <!-- /.col-lg-12 -->
                                  </div>
                                  <!-- /.row -->
                                  <!-- end PAGE TITLE ROW -->  
                                  <a href="/project_newTopic/<%= project._id%>"><input class="form-control input-lg" type="text" placeholder="点击发起讨论" style="margin-top:30px;"></a>
                                  <!--    Topics List            -->
                                  <!-- Basic Responsive Table -->
                                  <div class="portlet portlet-default" style="margin-top:30px; border-style:none;">
                          
                                    <div class="portlet-body">
                                        <div class="table-responsive">
                                           <table class="table">
                                              <tbody>
                                                
                                                 <tr>
                                                     <td style="width:20%;">
                                                        <img class="img-circle" src="/img/profile-pic.jpg" style="margin-top:5px;width:50px;">
                                                        <h5>发起者Name</h5>
                                                     </td>
                                                     <td>
                                                        <h4><a href="#" style="text-decoration:none">Topic Title</a></h4>
                                                        <p> Topic Content</p>
                                                     </td>
                                                     <td style="width:10%;">
                                                        <h6 style="color:#CCC;"> 3月5日</h6>
                                                         <button type="button" class="deleteButton fa fa-trash-o" style="background-color:transparent;border:none;"></button>
                                                     </td>
                                                 </tr>
                                                
                                              </tbody>
                                           </table>
                                        </div>
                                    </div>
                                  </div>
                                  <!-- /.portlet -->

                                  <!--    End Topics List-->
                                          
                              </form>
                          </div>
                      </div>
                  </div>
                  <!-- /.portlet -->
              </div>
              <!-- /.col-lg-12 (nested) -->
              <!-- End Basic Form Example -->
          </div>
          <!-- /.page-content -->

      </div>
      <!-- /#page-wrapper -->
      <!-- end MAIN PAGE CONTENT -->

  </div>
  <!-- /#wrapper -->

  <% include ../footer.html %>


</body>

</html>
