<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= project.name%>—新建topic</title>

    <% include ../header.html%>
    <link href="/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/plugins/summernote/summernote-bs3.css" rel="stylesheet">

    <style type="text/css">
    .fa:hover{
        cursor: pointer;
    }
    .deleteButton:hover{
        color: #CCC;
    }
    a:hover{
        color:#31708f;
    }
    </style>

</head>

<body>

    <div id="wrapper">

        <!-- begin TOP NAVIGATION -->
        <% include ../topnav.html %>
        <!-- end TOP NAVIGATION -->

        <!-- begin SIDE NAVIGATION -->
        <% include project_sidenav.html %>        
        <!-- end SIDE NAVIGATION -->

        <!-- begin MAIN PAGE CONTENT -->
        <div id="page-wrapper"  style="height:100%; overflow:hidden;">

            <div class="page-content">

            <!-- Basic Form Example -->
                            <!--div class="col-lg-12" style="margin-top:20px;">

                                <div class="portlet portlet-default" style="border-style:none;"> 

                                    <div id="basicFormExample" class="panel-collapse collapse in">
                                        <div class="portlet-body">
                                            <form role="form">
                                              <!-- begin PAGE TITLE ROW -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>
                                所有的讨论
                                <small></small>
                            </h1>
                        </div>
                    </div>
                
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE ROW -->  
               <div class="panel panel-success">
                <div class="panel-heading" style="color: #3c763d;background-color: #66cdaa;border-color: #d6e9c6;">
                                <div class="panel-title">
                                    <%=project.name%>
                                </div>
                                <div class="clearfix"></div>
                </div>

                <div class="panel-body">

                <input id='newTopicTitleInput' class="form-control input-lg" type="text" placeholder="话题题目" style="margin-top:20px;margin-bottom:20px;">

                 <!--input id='newTopicBodyInput' class="form-control input-lg" type="text" placeholder="话题Body" style="margin-top:20px;margin-bottom:20px;"-->
                <div id="summernote">       
                </div>
                <h4 style="font-weight:normal;">发送通知给:</h4>
                <div class="team-member" style="margin-top:20px;">
                  <div class="col-lg-12">
                       <label><input type="checkbox" onclick="selectAll(this)" id="all"><span style="margin-left:10px;">全部</span></label>
                  </div>
                  <% var groups = {};
                     var noGroup = [];
                     function pushToGroup(member){
                       if(member.group){
                          if(groups[member.group])
                            groups[member.group].push(member);
                          else{
                            groups[member.group] = [];
                            groups[member.group].push(member);
                          } 
                       }else{
                          noGroup.push(member);
                       }                       
                     }
                     pushToGroup({group: project.ownerGroup, ref: project.owner});
                     for(var i=0;i<project.members.length;i++)
                         pushToGroup(project.members[i]);
                     for (var p in groups) {
                        if (groups.hasOwnProperty(p)) {
                  %>

                  <div class="col-lg-2">
                     <label><input type="checkbox" value="" onclick="selectAllGroup(this,'<%=p%>')"><span class="label label-success" style="margin-left:15px;"><%=p%></span></label>
                  </div>                  
                  <div class="col-lg-10">  
                        <% groups[p].forEach(function(m){ %>
                          <label style="margin-right:30px;font-weight:normal;"><input uid="<%=m.ref._id%>" class='atUserCheckbox' type="checkbox" name='<%=p%>'><span style="margin-left:10px;"><%=m.ref.name%></span></label>
                        <%})%>
                  </div>                  
                  <%}}%>

                  <div class="col-lg-2">
                     <label><input type="checkbox" value="" onclick="selectAllGroup(this,'__noGroup')"><span class="label label-success" style="margin-left:15px;">未分组</span></label>
                  </div>                  
                  <div class="col-lg-10">  
                        <% noGroup.forEach(function(m){ %>
                          <label style="margin-right:30px;font-weight:normal;"><input uid="<%=m.ref._id%>" class='atUserCheckbox' type="checkbox" name="__noGroup"><span style="margin-left:10px;"><%=m.ref.name%></span></label>
                        <%})%>
                  </div>
                </div>
                <div class="publishTopic">
                <button id='postTopicButton' class="btn btn-white" style="margin-top:5px;">发起讨论</button>
                <a href="/project_topic/<%=project._id%>" style="vertical-align:middle;margin-left:30px;font-size:15px;text-decoration:none">取消</a>
                </div>


                <!--    Topics List            -->
                <!-- Basic Responsive Table -->
                       <div class="portlet portlet-default" style="margin-top:30px; border-style:none;">
                            
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <% include topicTable.html%>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.portlet -->

                <!--    End Topics List-->
                   </div>
                    </div>
            </div>
            <!-- /.page-content -->

        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->

    </div>
    <!-- /#wrapper -->

    <% include ../footer.html %>
    <script src="/plugins/summernote/summernote.min.js"></script>
    <script src="/js/project/project_newTopic.js"></script>
    <script src="/js/project/deleteTopic.js"></script>
     <script>
    $(document).ready(function() {
        $('#summernote').summernote({
            height: 300,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
            ]

        });
    });
    function selectAll(o){
      var member = document.getElementsByTagName("input");
      for(var i=0;i<member.length;i++)
      {
          if(member[i].type=="checkbox")
        {
           if(o.checked==true)
              member[i].checked=true;
           else if(o.checked==false)
              member[i].checked=false;
        }
      }
    }
    function selectAllGroup(o,name){
        var member = document.getElementsByName(name);
        for(var i=0;i<member.length;i++)
        {
            if(o.checked==true)
                    member[i].checked=true;
            else if(o.checked==false)
                member[i].checked=false;
        }
    }
    </script>

</body>

</html>
