<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=topic.title%></title>
    <link href="/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/plugins/summernote/summernote-bs3.css" rel="stylesheet">

    <% include ../header.html%>
    <style type="text/css">
    .fa:hover{
        cursor: pointer;
    }
    </style>

</head>

<body>

    <div id="wrapper">

        <!-- begin TOP NAVIGATION -->
        <% include ../topnav.html %>
        <!-- end TOP NAVIGATION -->

        <!-- begin SIDE NAVIGATION -->
        <% include project_sidenav.html %>        
        <!-- end SIDE NAVIGATION -->
<!-- begin MAIN PAGE CONTENT -->
        <div id="page-wrapper">

            <div class="page-content">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>
                                <%=project.name%>
                                <small></small>
                            </h1>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE ROW -->  
                <div class="panel-group" id="accordion">
                    <div class="panel panel-success">
                <div class="panel-heading" style="color: #3c763d;background-color: #66cdaa;border-color: #d6e9c6;">
                                <div class="panel-title">
                                    <%=project.name%>
                                </div>
                                <div class="clearfix"></div>
                </div>
                       <div id="collapseOne" class="panel-collapse collapse in">
                         <div class="panel-body">
                           <h5>
                            <%if(topic.author.icon){%>
                            <img class="img-circle" src="/<%=topic.author.icon%>" style="margin-top:5px;width:50px;height:50px;">
                            <%}else{%>
                            <img class="img-circle" src="/usericons/default.jpg" style="margin-top:5px;width:50px;height:50px;">
                            <%}%>
                              
                              <%=topic.author.name%>
                              <div class="Date" style="color:#CCC;display:inline-block;width:100px;"> <%=topic.date.getMonth()+1%>月<%=topic.date.getDate()%>日</div>
                           </h5>
                           <div class="well" style="margin-left:55px;margin-right:55px;background-color:#dff0d8;color:#3c763d;border-color:#d6e9c6;">
                           <%=topic.body%>
                          </div>
                          <!--    Comment List  -->
                          <div class="portlet portlet-default" style="margin-top:30px; border-style:none;">
                            
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table">
                                         <tbody>
                                          <% topic.comments.forEach(function(c){%>
                                            <tr>
                                                <td>  
                                                   <h5>
                                                    <%if(c.owner.icon){ %>
                                                    <img class="img-circle" src="/<%=c.owner.icon%>" style="margin-top:5px;width:50px;height:50px;">
                                                    <%}else{%>
                                                    <img class="img-circle" src="/usericons/default.jpg" style="margin-top:5px;width:50px;height:50px;">
                                                    <%}%>
                                                      
                                                      <%=c.owner.name%>
                                                      <div class="Date" style="color:#CCC;display:inline-block;width:100px;"> <%=c.date.getMonth()+1%>月<%=c.date.getDate()%>日</div>
                                                   </h5> 
                                                   <div class="well" style="margin-left:55px;margin-right:55px;background-color:#fcf8e3;color:#8a6d3b;">
                                                   <%-c.body%>
                                                   </div>
                                                </td>
                                            </tr>
                                          <%})%>
                                            
                                            
                                            <tr>
                                                <td>
                                                  <% if(user.icon) {%>
                                                  <img class="img-circle" src="/<%=user.icon%>" style="margin-top:5px;width:50px;height:50px;">
                                                  <%}else{%>
                                                  <img class="img-circle" src="/usericons/default.jpg" style="margin-top:5px;width:50px;height:50px;">
                                                  <%}%>          
                                                   <input id="newComment" class="form-control input-lg" type="text" placeholder="点击发表评论" style="display:inline-block;width:80%;margin-left:10px;margin-top:10px;border-radius:5px;" onclick="editComment()">
                                                   <div tid='<%=topic._id%>' id="summernote"></div>
                                                   <div id="commentOption" style="margin-left:65px;display:none;">
                                                      <h4 style="font-weight:normal;">发送通知给:</h4>
                                                      <!--    Team Group and Team Members-->
                                                      <div class="team-member" style="margin-top:20px;">
                                                        <div class="col-lg-12">
                                                        <label><input type="checkbox" onclick="selectAll(this)" id="all"><span style="margin-left:10px;">全部</span></label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <label><input type="checkbox" value="" onclick="selectAllGroup(this,'group1')"><span class="label label-info" style="margin-left:15px;">开发部小组</span></label>
                                                        </div>
                                                        <div class="col-lg-10">  
                                                            <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group1"><span style="margin-left:10px;">member1</span></label>
                                                            <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group1"><span style="margin-left:10px;">member1</span></label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <label><input type="checkbox" onclick="selectAllGroup(this,'group2')"><span class="label label-info" style="margin-left:15px;">技术部小组</span></label>
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group2"><span style="margin-left:10px;">member1</span></label>
                                                            <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group2"><span style="margin-left:10px;">member1</span></label>
                                                            <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group2"><span style="margin-left:10px;">member1</span></label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <label><input type="checkbox" onclick="selectAllGroup(this,'group3')"><span class="label label-info" style="margin-left:15px;">UI设计小组</span></label>
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group3"><span style="margin-left:10px;">member1</span></label>
                                                            <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group3"><span style="margin-left:10px;">member1</span></label>
                                                        </div>
                                                     </div>
                                                     <div class="publishTopic" style="margin-top:20px;">
                                                          <button id='postCommentButton' class="btn btn-primary" style="margin-top:5px;">发表评论</button>
                                                          <a style="vertical-align:middle;margin-left:30px;font-size:15px;cursor:pointer;" onclick="cancelComment()">取消</a>
                                                     </div>
                                                   </div>
                                                                                               
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.portlet -->
                     <!--   /Comment List  -->
                    </div>
                 </div>
              </div>

   

            </div>
            <!-- /.page-content -->

        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->

    </div>
    <!-- /#wrapper -->

    <% include ../footer.html %>

     <script>

    $(document).ready(function() {

        $('#summernote').summernote({
            height: 300,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
            ]

        });
        $('.note-editor').css("width","80%");
        $('.note-editor').css("margin-left","65px");
        $('.note-editor').css("margin-top","10px");
        $('.note-editor').css("display","none");
    });
    function editComment(){
      $('#newComment').css("display","none");
      $('.note-editor').css("display","block");
      $('#commentOption').css("display","block");
      $('.note-editor').css("margin-top","-40px");
    }
    function cancelComment(){
      $('#newComment').css("display","inline-block");
      $('.note-editor').css("display","none");
      $('#commentOption').css("display","none");
    }
    function selectAll(o){
      var member = document.getElementsByTagName("input");
      for(var i=0;i<member.length;i++)
      {
          if(member[i].type=="checkbox")
        {
           if(o.checked==true)
              member[i].checked=true;
           else if(o.checked==false)
              member[i].checked=false;
        }
      }
    }
    function selectAllGroup(o,name){
        var member = document.getElementsByName(name);
        var all = document.getElementById("all");
        for(var i=0;i<member.length;i++)
        {
            if(o.checked==true)
                    member[i].checked=true;
            else if(o.checked==false)
            {
                member[i].checked=false;
                if(all.checked==true)
                  all.checked=false;
            }
        }
        
      }
    

    </script>
    <script src="/js/project/project_newComment.js"></script>

</body>

</html>
