    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Flex Admin - Responsive Admin Theme</title>

        <% include ../header.html%>
        <style type="text/css">
        .fa:hover{
            cursor: pointer;
        }
        </style>

    </head>

    <body>

        <div id="wrapper">

            <!-- begin TOP NAVIGATION -->
            <% include ../topnav.html %>
            <!-- end TOP NAVIGATION -->

            <!-- begin SIDE NAVIGATION -->
            <% include project_sidenav.html %>        
            <!-- end SIDE NAVIGATION -->

            <!-- begin MAIN PAGE CONTENT -->
            <div id="page-wrapper">

               <div class="page-content">
                        

                    <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>
                                文件库
                                <small></small>
                            </h1>
                            <!--ol class="breadcrumb">
                                <!--li><i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                                </li>
                                <li class="active">Blank Page</li-->
                            <!--/ol-->
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                    <!-- end PAGE TITLE ROW -->
                    <div class="panel panel-danger">
                      <!-- Default panel contents -->
                          <div class="panel-heading"><%=project.name%></div>
                                                                           
                          <!-- Table -->
                        <table class="table">

                            <thead>
                                <div class="mailbox-nav">
                                <ul class="nav navbar-nav button-tooltips">
                                
                                <li class="message-actions" style="float:right;">
                                    <div class="btn-group navbar-btn">
                                                                          
                                        <button type="button" class="btn btn-white fileinput-button" data-toggle="tooltip" data-placement="bottom" title="Mark as Important">          
                                        <input id="projectfileupload" type="file" name="files" multiple style="width: 60px;height: 40px;cursor: pointer;font-size: 30px;outline: medium none;position: absolute;filter:alpha(opacity=0);-moz-opacity:0;opacity:0; left:0px;top: 0px;">
                                        <i class="fa fa-upload">上传</i>
                                        </button>
                                    
                                     <button id='deleteFileButton' style="margin-left:20px" type="button" class="btn btn-white" data-toggle="tooltip" data-placement="bottom" title="Trash"><i class="fa fa-trash-o">删除</i>
                                    </button>
                                       
                                    </div>
                                    
                                    
                                </li>
                                </ul>
                                </div>
                                <tr>
                                    <th class="checkall checkbox-col">
                                    <input type="checkbox" id="selectall" data-toggle="tooltip" data-placement="bottom" title="Select All">
                                    </th>
                                    <th>名称</th>
                                    <th>创建者</th>
                                    <th>大小</th>
                                    <th>时间</th>
                                    <th>op</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% files.forEach(function(f){ %>
                                    <tr fid='<%=f._id%>' class='file-tr'>
                                        <td class="checkbox-col">
                                           <input type="checkbox" class="selectedId" name="selectedId">
                                        </td>
                                        <td><%=f.name %></td>
                                        <td><%=f.owner.name%></td>
                                        <td><%=f.size%></td>
                                        <td><%=f.createTime.getFullYear()%>/<%=f.createTime.getMonth()+1%>/<%=f.createTime.getDate()%></td>
                                        <td>
                                            <a href='/API/p/<%=project._id%>/f/<%=f._id%>' type="button" class="btn btn-white" data-toggle="tooltip" data-placement="bottom" title="download"><i class="fa fa-download">下载</i>
                                            </a>
                                        </td>
                                    </tr>
                                <%})%>
                                                          
                            </tbody>
                        </table>
                        <!--
                        <div class="dataTables_paginate paging_bootstrap">
                                 <ul class="pagination">
                                     <li class="disabled"><a href="#" >&laquo;</a></li>
                                     <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                                     <li><a href="#">2</a></li>
                                     <li><a href="#">3</a></li>
                                     <li><a href="#">4</a></li>
                                     <li><a href="#">5</a></li>
                                     <li><a href="#">&raquo;</a></li>
                                </ul>
                        </div>
                        -->
                    </div>

                           
                </div>
                <!-- /.page-content -->

            </div>
            <!-- /#page-wrapper -->
            <!-- end MAIN PAGE CONTENT -->



        </div>
        <!-- /#wrapper -->

        <% include ../footer.html %>
        <script src='/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js'></script>
        <script src='/plugins/jquery-file-upload/js/jquery.iframe-transport.js'></script>
        <script src='/plugins/jquery-file-upload/js/jquery.fileupload.js'></script>
        <script type="text/javascript">
        $('#fileupload').fileupload();      
        </script>
        <script src="/js/project/project_file.js"></script>
    </body>

    </html>
