 <!-- begin SIDE NAVIGATION -->
        <nav class="navbar-side" role="navigation">
            <div class="navbar-collapse sidebar-collapse collapse">
                <ul id="side" class="nav navbar-nav side-nav">
                    
                    <!-- begin SIDE NAV USER PANEL -->
                    <li class="side-user hidden-xs">                        
                        <p class="name tooltip-sidebar-logout">           
                            <a style="color: inherit" href="/user/<%= user._id%>" data-toggle="tooltip" data-placement="top" title="back to user">
                                <i class="fa fa-mail-reply"></i>
                            </a>                                       
                            <span id='project-side-nav-name' class="last-name"><%= project.name%></span>
                        </p>
                        <div class="clearfix"></div>
                    </li>
                    <!-- end SIDE NAV USER PANEL -->
                  
                    <!-- begin DASHBOARD LINK -->
                    <li>
                        <a href="/project/<%= project._id%>">
                            <i class="fa fa-dashboard"></i> 项目主页
                        </a>
                    </li>
                    
                    <li>
                        <a id='project-side-nav-taskboard' href="/project_taskboard/<%= project._id%>">
                            <i class="fa fa-edit"></i> 任务板
                        </a>
                    </li>
        
                    <li>
                        <a href="/project_cal/<%= project._id %>">
                            <i class="fa fa-calendar"></i> 日程
                        </a>
                    </li>
                    
                    <li>
                        <a href="/project_issue/<%= project._id%>">
                            <i class="fa fa-table"></i> Issues
                        </a>
                    </li>

                    <li>
                        <a href="/project_files/<%= project._id%>">
                            <i class="fa fa-files-o"></i> 文件库
                        </a>
                    </li>
                                    
                    <li>
                        <a href="/project_editor/<%= project._id%>">
                            <i class="fa fa-files-o"></i> Editor
                        </a>
                    </li>

                    <li>
                        <a href="/project_topic/<%= project._id%>">
                            <i class="fa fa-inbox"></i> 讨论区
                        </a>
                    </li>                   

                    <li>
                        <a href="#set-project-form" data-toggle="modal" class="dash-demo-footer">
                            <i class="fa fa-wrench"></i> 设置
                        </a>
                    </li>        
                                      
                </ul>
                <!-- /.side-nav -->
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- /.navbar-side -->
        <!-- end SIDE NAVIGATION -->


          <!-- begin SET PROJECT AREA -->
    <div id="set-project-form" class="modal fade" tabindex="-1" data-width="660"  style="display: none;">
      <div class="modal-header" style="background-color:#39b3d7">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" style="color:#FFF;">项目设置</h4>  
        <div style="text-align:center;">
        <input id="fileupload" type="file" name="files[]" multiple="" style="width: 150px;height: 150px;cursor: pointer;outline: medium none;position: absolute;filter:alpha(opacity=0);-moz-opacity:0;opacity:0; left:254px;top: 40px;">
        <img src="/img/myicon.jpg" class="img-circle" style="margin:0 auto; width:150px; ">
        </div>
      </div>

<ul class="nav nav-tabs">
  <li><a href="#project" data-toggle="tab">项目信息</a></li>
  <li><a href="#member" data-toggle="tab">成员管理</a></li>
  <li><a href="#advance" data-toggle="tab">高级设置</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!--项目信息-->
  <div class="tab-pane active" id="project">
  <div class="modal-body">
      <div class="row">
          <!--form class="form-horizontal" role="form"-->
          <div class="form-group">
            <label for="user-name-input" class="col-sm-2 control-label">项目名称</label><br />
            <div class="col-sm-12">
              <input value='<%= project.name%>' type="text" class="form-control" id="project-name-input" placeholder="专综项目">
              <br />
            </div>
          </div>
          <br />
          <!--
          <div class="form-group">
            <label for="user-profession-input" class="col-sm-2 control-label">项目类别</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="project-type-input" placeholder="课程项目">
              <br />
            </div>
          </div> 
          <br />
          -->
          <div class="form-group">  
            <label for="user-birthday-input" class="col-sm-2 control-label">项目简介</label>              
            <div class="col-sm-12">
              <textarea type="text" class="form-control" id="project-description-input" placeholder="介绍一下这个项目"><%= project.description%></textarea>
              <br />
            </div>
          </div>
            
        <!--/form-->
      </div>
  </div>
  <div class="modal-footer" >
   <!--button id='set-setting-close' type="button" data-dismiss="modal" class="btn btn-default">关闭</button-->
   <button id='project-setting-button' type="button" class="btn btn-info" style="width:100%;">保存</button>

</div>

  </div>

<!--成员管理-->
  <div class="tab-pane" id="member">
      <div class="modal-header">
        <h4 class="modal-title">通过邮箱添加新成员</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-10">
            <input type="email" class="form-control" id="add-member-email-input" placeholder="通过邮箱添加新成员...">
             
          </div>
             <button id='add-member-email-button' type="submit" class="btn btn-primary">sure</button>          
        </div>
      </div>
    

      <div class="modal-header">
        <h4 class="modal-title">通过ID添加新成员</h4>
      </div>

      <div class="modal-body">
        <!--
        <p>分享下面的链接给项目成员，他们可以直接访问链接来加入，最适合分享到微信群或是QQ群</p>
        -->
        <div class="row">
          <div class="col-sm-10">
            <input id='search-member-box' class="input-large form-control" oninput="searchUserInputChange(this);" placeholder="通过ID添加新成员..."></input>
            <div style="border-left:1 black solid;width:200px;border-bottom:1 black solid;border-right:1 black solid;display:none;" id="userListResult"> 
            </div>
          </div>
          
          <button id='add-member-id-button' type="submit" class="btn btn-primary">sure</button>             
        </div>

      </div>


      <div class="modal-header">
        <h4 class="modal-title">项目成员列表</h4>
      </div>

      <div id='projectMemberPanelDiv' class="modal-body">
        <!--
        <div class="row" style="margin-bottom:10px;">
          <div class="col-sm-12">
            <%if(project.owner.icon){%>
            <img src="/<%= project.owner.icon%>" class="img-circle" style="width:40px; ">
            <%}else{%>
            <img src="/usericons/default.jpg" class="img-circle" style="width:40px; ">
            <%}%>
            <label class="control-label"><%=project.owner.name%>·管理员</label>
          </div>             
        </div>
        <hr />
        
        <% project.members.forEach(function(member){ %>
          <div class="row" style="margin-bottom:10px;">
            <div class="col-sm-8">
              <%if(member.ref.icon){%>
              <img src="/<%= member.ref.icon%>" class="img-circle" style="width:40px; ">
              <%}else{%>
              <img src="/usericons/default.jpg" class="img-circle" style="width:40px; ">
              <%}%>
              <label class="control-label"><%=member.ref.name%>
                <% if(member.isAdmin){%>
                ·管理员
                <%} %>
              </label>
            </div> 
            <div class="col-sm-4">
              <% if(!member.isAdmin){%>
              <button uid='<%= member.ref._id%>' type="button" class="btn btn-green set-admin-button">管理员</button>
              <%} else {%>
              <button uid='<%= member.ref._id%>' type="button" class="btn btn-green unset-admin-button">普通成员</button>
              <%}%>
              <button  uid='<%= member.ref._id%>' type="button" class="btn btn-red delete-member-button">移除成员</button>
            </div>           
          </div>
          <hr />
        <%})%>
                 
      -->
      </div>
      
  </div>
<!--高级设置-->
  <div class="tab-pane" id="advance">
      <div class="modal-header">
        <h4 class="modal-title">归档项目</h4>
      </div>

      <div class="modal-body">
        <p>如果项目已经完成或是暂时中止，你可以先将项目归档。归档的项目可以很容易地再次激活，并且不会有数据丢失</p>
        <div class="row">
          <div class="col-sm-12">
            <button id='project-pigeonhole-button' type="button" class="btn btn-red" style="width:100%;">归档项目</button>
          </div>
                       
        </div>

      </div><br />

      <div class="modal-header">
        <h4 class="modal-title">退出项目</h4>
      </div>

      <div class="modal-body">
        <p>一旦你退出了该项目，你将不能查看任何关于该项目的信息。退出项目后，如果想重新加入，请联系项目管理员</p>
        <div class="row">
          <div class="col-sm-12">
            <button id='set-exiting-button' type="button" class="btn btn-red" style="width:100%;">退出项目</button>
          </div>
                       
        </div>

      </div><br />
        

 
    </div>

</div>

</div>
    
</div>

<script type="text/javascript">
  var projectid = '<%= project._id%>';
  var csid = '<%=project.cSprint%>';
</script>
<script type="text/javascript" src='/js/project/project_setting.js'></script>