<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= project.name%>—项目主页</title>

    <% include ../header.html%>
    <style type="text/css">
    a:hover{
        color:#31708f;
    }
    </style>

</head>

<body>

    <div id="wrapper">

        <!-- begin TOP NAVIGATION -->
        <% include ../topnav.html %>        
        <!-- /.navbar-top -->
        <!-- end TOP NAVIGATION -->

        <!-- begin SIDE NAVIGATION -->
        
        <% include project_sidenav.html %>        
        <!-- /.navbar-side -->
        <!-- end SIDE NAVIGATION -->

        <!-- begin MAIN PAGE CONTENT -->
        <div id="page-wrapper">

              <div class="page-content">


                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div id='project-des-title' >                                                                                 
                        </div>       

                    </div>
                     <!-- begin DASHBOARD CIRCLE TILES -->
                  
                        <div id='project-des-body' class="col-lg-12 col-sm-6">                       
                        </div>
                        <br>    
                    <!-- /.col-lg-12 -->
                </div>
                

                <div class="row">

<div class="col-lg-6">

                <div class="col-lg-12">
                <div class="panel panel-info">
                   <div class="panel-heading" style="color: #31708f;background-color: #add8e6;border-color: #bce8f1;">
                        <h3 class="panel-title">重要任务</h3>
                   </div>
                   <div class="panel-body">

                    <% var now = new Date();
                       var y = now.getYear();
                       var m = now.getMonth();
                       var d = now.getDate(); 
                    tasks.forEach(function(t){ 
                        var ty = t.createTime.getYear();
                        var tm = t.createTime.getMonth();
                        var td = t.createTime.getDate();
                    %>
                       <div class="row">
                            <div class="col-sm-9">
                            <label style="font-size:medium;">
                            <a href="#set-task-form" data-toggle="modal" style="text-decoration:none;"><%=t.title%></a>
                            <span style="color:#808080;font-size:12px;margin-left:15px;">执行者:&nbsp;&nbsp;&nbsp;&nbsp;<%t.executer.forEach(function(u){%>
                              <%=u.name%>
                            <%})%></span>
                            </label>

                            </div>
                            <%if(ty==y && tm==m && td == d){%>
                            <div class="col-sm-3">
                                <span class="label label-info"><i class="fa fa-calendar">
                                <a href="#set-task-form" data-toggle="modal" style="color: #FFF;font-weight:900;" >今天</a></i></span> 
                            </div>
                            <%}%>                           
                        </div>  
                        <hr /> 
                    <%})%>
                      
                        
                        <div class="row" >
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3"  >
                                <label> <a href="/project_taskboard/<%=project._id%>" style="color:#31708f;font-size:medium; text-decoration:none;"> 进入任务板</a></label>
                            </div>                        

                        </div>
                        
                   </div>
                   
                </div>
                </div>


                <div class="col-lg-12">

                <div class="panel">
                   <div class="panel-heading" style="color:#8a6d3b;background-color: #f0e68c;border-color: #e3e3e3;">

                        <h3 class="panel-title">最新问题</h3>
                   </div>
                   <div class="panel-body">
                        <table class="table">
                        <tbody>
                          <%issues.forEach(function(i){ 
                            if(!i.solved){
                          %>
                            <tr>
                              <td>                                            
                                <label><%=i.description%></label> 
                              </td>
                            </tr>
                          <%}})%>
                        
                        
                        </tbody>
                        </table>
                       

                          <div class="row" >
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3"  >
                                <label> <a href="/project_issue/<%=project._id%>" style="color:#8a6d3b;font-size:medium;text-decoration:none;"> 进入问题板</a></label>
                            </div>                        
                        </div> 
                   </div>
                </div>
                </div>

                <div class="col-lg-12">
                <div class="panel">
                   <div class="panel-heading" style="color:#696969;background-color: #d3d3d3;border-color: #e3e3e3;">
                        <h3 class="panel-title" >历史记录</h3>
                   </div>
                   <div class="panel-body" style="font-size:13px;color:#808080">
                        <table class="table">
                        <tbody id='mainpage-history-table'>
                          
                        
                        </tbody>
                        </table>
                       
                          <div class="row" >
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3"  >
                                <label> <a href="#set-project-form" data-toggle="modal"  style="color:#696969;font-size:medium;" id="history-link"> 所有记录</a></label>
                            </div>                        
                        </div> 
                   </div>
                </div>
                </div>

</div>
<div class="col-lg-6">


                
                 <div class="col-lg-12">
                <div class="panel panel-warning">
                   <div class="panel-heading" style="color: #a94442;background-color: #ffb6c1;border-color: #ebccd1;">
                        <h3 class="panel-title">最新文件</h3>
                   </div>
                   <div class="panel-body">
                     <table class="table">
                         <thead>
                             <tr>
                                <th>名称</th>
                                <th>创建者</th>
                                <th>大小</th>
                                <th>时间</th>
                            </tr>
                         </thead>
                         <tbody>
                          <%files.forEach(function(f){%>
                            <tr>
                                <td><%=f.name%></td>
                                <td><%=f.owner.name%></td>
                                <td><%=f.size%></td>
                                <td><%=f.createTime.getFullYear()%>/<%=f.createTime.getMonth()+1%>/<%=f.createTime.getDate()%></td>
                            </tr>                            
                          <%})%>
                            
                     </table>
                  
                     <div class="row" >
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3"  >
                                <label> <a href="/project_files/<%=project._id%>" style="color:#a94442;font-size:medium;text-decoration:none;"> 进入文件库</a></label>
                            </div>                        

                    </div>

                   </div>
                </div>
                </div>




                <div class="col-lg-12">
                <div class="panel panel-success">
                   <div class="panel-heading" style="color: #3c763d;background-color: #66cdaa;border-color: #d6e9c6;">
                        <h3 class="panel-title">最新话题</h3>
                   </div>
                   <div class="panel-body">
                        <table class="table">                          
                            <tbody>
                              <%topics.forEach(function(t){
				if(!t) return;
			      %>
                                 <tr>
                                   <td style="width:20%;">
                                    <%if(t.author.icon && t.author){%>
                                    <img class="img-circle" src="/<%=t.author.icon%>" style="margin-top:5px;width:50px;height:50px;">
                                    <%}else{%>
                                    <img class="img-circle" src="/usericons/default.jpg" style="margin-top:5px;width:50px;height:50px;">
                                    <%}%>
                                      
                                      <h5><%=t.author.name%></h5>
                                   </td>
                                   <td style="word-wrap:break-word;" >
                                      <h5><a href="/project_oneTopic/<%=project._id%>/t/<%=t._id%>" style="text-decoration:none;"><%=t.title%></a></h5>
                                      <p style="width:200px"> <%-t.body%></p>
                                   </td>
                                   <td style="width:20%;">
                                      <h6 style="color:#CCC;"> <%=t.date.getMonth()+1%>月<%=t.date.getDate()%>日</h6>
                                  </td>
                               </tr>
                              <%})%>                              
                            </tbody>
                            </table>
                          <hr />
                          <div class="row" >
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3"  >
                                <label> <a href="/project_topic/<%=project._id%>" style="color:#3c763d;font-size:medium;text-decoration:none;"> 进入讨论区</a></label>
                            </div>                        
                        </div>
                   </div>
                </div>
                </div>

</div>
                

                </div>
 
      
            

        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->

    </div>
    <!-- /#wrapper -->

    
    <% include ../footer.html %>
    <script src="/js/project/project_main.js"></script>
    <script >
    $("#history-link").click(function(){
    $("#project").removeClass("active");
    $("#history").addClass("active");
    });

    </script>

    <script >
    $(".close").click(function(){
    $("#history").removeClass("active");
    $("#project").addClass("active");
    });

    </script>

</body>

</html>
