<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Task Board</title>

    <link href='/fonts/google/google-fonts-yanone.css' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet">
    <link href="/plugins/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet">
    <link href="/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet">
    <link href="/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/jquery.ui.min.css" rel="stylesheet">
    <link href="/css/taskboard/charts.css" rel="stylesheet">
    <link href="/css/taskboard/comment.css" rel="stylesheet">
    <link href="/css/taskboard/form.css" rel="stylesheet">
    <link href="/css/taskboard/jqueryui.css" rel="stylesheet">
    <link href="/css/taskboard/layout.css" rel="stylesheet">
    <link href="/css/taskboard/qtip2.css" rel="stylesheet">
    <link href="/css/taskboard/responsive.css" rel="stylesheet">
    <link href="/css/taskboard/screen.css" rel="stylesheet">
    <link href="/css/taskboard/taskboard.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">          

    <!-- begin MAIN PAGE CONTENT -->
    <div id="page-wrapper">

        <div class="page-content">
            <div id="header">
                <div class="navbar navbar-fixed-top">
                    <a class="navbar-brand" href="/project/<%=project._id%>"><%= project.name%></a>


                    <ul id="navigation" class="nav navbar-nav" style="">
                        <li>
                            <div class="input-group">
                                <div class="btn-group bootstrap-select input-group-btn show-tick show-menu-arrow">
                                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown">
                                        <span id='selectSprint' class="filter-option pull-left">10.05.2014 - 09.06.2014 First sprint
                                        </span>&nbsp;
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu open">
                                        <ul id='allSprints' class="dropdown-menu inner selectpicker" role="menu">
                                        </ul>
                                    </div>
                                </div>

                                <span class="input-group-addon dropdown">
                                <div style="display: none;">
                                    <a href="javascript: void(0);" class="tooltipTitle" title="Add new sprint" data-placement="bottom" data-bind="
                                            click: $root.actionSprintAdd,
                                            visible: $root.role() &lt; 0
                                        " style="">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>

                                <div>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100">
                                        <i class="fa fa-wrench"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-header text-info">Basic functions</li>

                                        <!-- ko if: $root.role() < 0 -->
                                        <li>
                                            <a id='addSprintLink' href="javascript: void(0);" data-placement="bottom" data-bind="click: $root.actionSprintAdd">
                                                <i class="fa fa-plus"></i>
                                                Add new sprint
                                            </a>
                                        </li>
                                        <!-- /ko -->

                                        

                                        <li class="divider"></li>

                                        <li class="nav-header text-info">Management</li>
                                        <li>
                                            <a id='editSprintLink' href="javascript: void(0);" data-bind="click: $root.actionSprintEdit">
                                                <i class="fa fa-wrench"></i>
                                                Edit sprint
                                            </a>
                                        </li>
                                        <li>
                                            <a id='setCurrentSprintLink'>
                                                <i class="fa fa-list-ol"></i>
                                                Set as current sprint
                                            </a>
                                        </li>

                                        <!--
                                        <li>
                                            <a href="javascript: void(0);" data-bind="click: $root.actionSprintBacklog">
                                                <i class="fa fa-list-ol"></i>
                                                Backlog
                                            </a>
                                        </li>
                                        -->
                                        <li>
                                            <a id='showSprintChartsLink' href="javascript: void(0);" data-bind="click: $root.actionSprintCharts">
                                                <i class="fa fa-bar-chart-o"></i>
                                                Charts
                                            </a>
                                        </li>

                                        <!-- ko if: $root.role() < 0 -->
                                        <li class="divider"></li>

                                        <li class="nav-header text-info">Danger zone</li>

                                        <li>
                                            <a href="javascript: void(0);" class="text-danger" data-bind="click: $root.actionSprintDelete">
                                                <i class="fa fa-trash-o"></i>
                                                Delete sprint
                                            </a>
                                        </li>

                                        <!-- /ko -->
                                    </ul>
                                </div>
                            </span>
                            </div>
                        </li>
                    </ul>                
                    
                </div>
            </div>

           

            <div id="container">
                <div class="container">

                    <div id="boardContent">

                        <div id="board">

                            <table id="boardTable" class="table table-bordered" style="margin-top: 39px;">
                                <thead style="position: fixed; z-index: 200; margin-top: -39px; left: 0px; width: 100%;">
                                    <tr id="boardHeader">
                                        <th style="width: 222px; text-align: left;">
                                            <span>Backlogs</span>
                                            <span id='backlogSum' class="phaseTaskCount">(0)</span>
                                        </th>
                                        <th class="addStory" style="width: 18px; height:40px">
                                            <button id='addBacklogButton'><i class="fa fa-plus"></i>
                                            </button>
                                        </th>

                                        <!-- ko foreach: $root.sortedPhases -->
                                        <th style="width: 205px;">
                                            <span>Waiting</span>
                                            <span id='waitingSum' class="phaseTaskCount">(3)</span>
                                        </th>

                                        <th style="width: 205px;">
                                            <span data-bind="text: title">In process</span>
                                            <span id='inProcessSum' class="phaseTaskCount">(0)</span>
                                        </th>

                                        <th style="width: 205px;">
                                            <span>To review</span>
                                            <span id='toReviewSum' class="phaseTaskCount">(0)</span>
                                        </th>

                                        <th style="width: 205px;">
                                            <span>Reviewed</span>
                                            <span id='reviewedSum' class="phaseTaskCount">(0)</span>
                                        </th>

                                        <th style="width: 225px;">
                                            <span>Done</span>
                                            <span id='doneSum' class="phaseTaskCount"></span>
                                        </th>
                                        <!-- /ko -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="storyRow_1">

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->

    </div>
    <!-- /#wrapper -->


    <!--SCRIPTS-->
    <script src="/js/taskboard/socket.io.js"></script>
    <script src="/js/taskboard/sails.io.js"></script>
    <script src="/js/taskboard/app.js"></script>
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/jquery.ui.min.js"></script>
    <script src="/plugins/underscore/underscore.js"></script>
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/plugins/bootbox/bootbox.min.js"></script>
    <script src="/plugins/bootstrap-select/bootstrap-select.js"></script>
    <script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="/plugins/momentjs/moment.js"></script>
    <script src="/plugins/noty/js/noty/packaged/jquery.noty.packaged.js"></script>
    <script src="/plugins/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
    <script src="/plugins/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
    <script src="/plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
    <script src="/js/taskboard/initBootbox.js"></script>
    <script src="/js/taskboard/common.js"></script>
    <script src="/js/taskboard/bootbox/task.js"></script>
    <script src="/js/taskboard/bootbox/backlogs.js"></script>
    <script src="/js/taskboard/bootbox/sprint.js"></script>
    <script type="text/javascript">
        <%
        if (typeof project !== 'undefined') { %>
            var uid = '<%= user._id%>';
            var pid = '<%= project._id %>';
            var sid = '<%= project.cSprint %>'; <%
        } %>
    </script>
    <script src="/js/taskboard/init.js"></script>
    <!--SCRIPTS END-->

</body>

</html>