<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>project main</title>

    <% include ../header.html%>

</head>

<body>

    <div id="wrapper">

        <!-- begin TOP NAVIGATION -->
        <% include ../topnav.html %>        
        <!-- /.navbar-top -->
        <!-- end TOP NAVIGATION -->

        <!-- begin SIDE NAVIGATION -->
        
        <% include project_sidenav.html %>        
        <!-- /.navbar-side -->
        <!-- end SIDE NAVIGATION -->

        <!-- begin MAIN PAGE CONTENT -->
        <div id="page-wrapper">

              <div class="page-content">


                <div class="row">
                    <div class="col-lg-12">
                        <div id='project-des-title' class="page-title">                                                                                 
                        </div>                        
                    </div>
                     <div class="divider"></div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE AREA -->

                <!-- begin DASHBOARD CIRCLE TILES -->
                <div class="row">
                    <div id='project-des-body' class="col-lg-3 col-sm-6">
                        
                                                    
                    </div>
                </div>
                <!-- end DASHBOARD CIRCLE TILES -->


                <!-- begin PAGE TITLE AREA -->
                <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>Important Tasks</h1>                                                     
                        </div>                        
                    </div>
                     <div class="divider"></div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE AREA -->

                <!-- begin DASHBOARD CIRCLE TILES -->
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        
                                                    
                    </div>
                </div>
                <!-- end DASHBOARD CIRCLE TILES -->
                


                <!-- begin PAGE TITLE AREA -->
                <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>Latest File Share
                                <small></small>
                            </h1>                                                     
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                
                <div class="row">
                    
                    <div class="col-lg-3 col-sm-6">
                        
                            
                    </div>
                    
                </div>
                  
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>Latest Topics
                                <small></small>
                            </h1>                                                     
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>


                <div class="row">                                    
                    <div class="col-lg-3 col-sm-6">
                    
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>Important Issues
                                <small></small>
                            </h1>                                                     
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>


                <div class="row">                                    
                    <div class="col-lg-3 col-sm-6">
                    
                    </div>
                </div>
            </div>
            <!-- /.page-content -->

        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->

    </div>
    <!-- /#wrapper -->

    
    <% include ../footer.html %>
    <script src="/js/project/project_main.js"></script>

</body>

</html>
