<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flex Admin - Responsive Admin Theme</title>

    <% include ../header.html%>
    <style type="text/css">
    .fa:hover{
        cursor: pointer;
    }
    </style>

</head>

<body>

    <div id="wrapper">

        <!-- begin TOP NAVIGATION -->
        <% include ../topnav.html %>
        <!-- end TOP NAVIGATION -->

        <!-- begin SIDE NAVIGATION -->
        <% include project_sidenav.html %>        
        <!-- end SIDE NAVIGATION -->

        <!-- begin MAIN PAGE CONTENT -->
        <div id="page-wrapper">

            <div class="page-content">

                <!-- begin PAGE TITLE ROW -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>
                                Project Issues
                                <small></small>
                            </h1>
                            <!--ol class="breadcrumb">
                                <!--li><i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                                </li>
                                <li class="active">Blank Page</li-->
                            <!--/ol-->
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE ROW -->
                 <div class="panel-group" id="accordion">
                    <div class="panel panel-info">
                       <div class="panel-heading">
                            <h4 class="panel-title">
                                <%=project.name%>
                            </h4>
                        </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                        <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                               <th style="width:100%;">
                                                   <div style="width:160px;display:inline-block;vertical-align:middle;">
                                                       <div class="btn-group btn-group-justified">
                                                            <a id="openIssue" class="btn btn-white" role="button" style="background-color:#d9edf7;"onclick="openClick()">OPEN</a>
                                                            <a id="closeIssue" class="btn btn-white" role="button" onclick="closeClick()">CLOSED</a>
                                                       </div>
                                                  </div>
                                                  <div class="btn-group" style="margin-left:135px;">
                                                      <button type="button" class="btn btn-white">排序</button>
                                                      <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                                                           <span class="caret"></span>
                                                           <span class="sr-only">Toggle Dropdown</span>
                                                      </button>
                                                      <ul class="dropdown-menu" role="menu">
                                                         <li><a href="#">最新</a></li>
                                                         <li><a href="#">最早</a></li>
                                                      </ul>
                                                </div>
                                                <button class="btn btn-white" style="margin-left:135px;" onclick="newIssue()">新建Issue</button>
                                              </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>

                                                    <div class="checkbox">

                                                        <label><input type="checkbox" value="" style="margin-top:10px;">全选</label>
                                                        <button class="btn btn-white" style="margin-left:48px;">close</button>
                                                     </div>

                                                </td>
                                                
                                            </tr>
                                            <tr>
                                                <td> 
                                                  
                                                   <div class="col-sm-10" style="margin-left:0px;padding-left:0px">
                                                       <textarea name='description' class="form-control" id="textArea" placeholder="新建Issue描述" style="width:100%;border-radius:8px;margin-top:15px;margin-bottom:15px;"></textarea>
                                                    </div>
                                                       <button class="btn btn-white" style="margin-top:15px;">提交</button>
                                                  
                                                </td>
                                            </tr>
                                              </tbody>
                                    </table>
                                            <div class="row" style="margin-left:10px;width:95%;">
                                              
                                              <% project.issues.forEach(function(i){ %>
                                                <div class="well well-sm" style="background-color:#d9edf7;border-color:#bce8f1;color:#31708f;border-radius:10px;">
                                                    <h6 style="color:#CCC;"><%=i.discoverTime.getYear()%>年<%=i.discoverTime.getMonth()+1%>月<%=i.discoverTime.getDate()%>日&nbsp;&nbsp;发布者</h6>
                                                    <div class="checkbox">
                                                         <label><input type="checkbox" value=""><%=i.description%></label>
                                                    </div>
                                                </div>
                                              <%}) %>                                             
                                            </div>
                                            
                                      
                                </div>
                        </div>
                    </div>
                 </div>
      </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->

    </div>
    <!-- /#wrapper -->

    <% include ../footer.html %>
    <script>
    function openClick(){
      $('#openIssue').css("background-color","#d9edf7");
      $('#closeIssue').css("background-color","#fff");
    }
    function closeClick(){
      $('#openIssue').css("background-color","#fff");
      $('#closeIssue').css("background-color","#d9edf7");
    }
    
    function newIssue(){
      $('#textArea').focus();
    }

    </script>


</body>

</html>
