<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flex Admin - Responsive Admin Theme</title>

    <% include ../header.html%>
    <link href="/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/plugins/summernote/summernote-bs3.css" rel="stylesheet">

    <style type="text/css">
    .fa:hover{
        cursor: pointer;
    }
    .deleteButton:hover{
        color: #CCC;
    }
    a:hover{
        color:#31708f;
    }
    </style>

</head>

<body>

    <div id="wrapper">

        <!-- begin TOP NAVIGATION -->
        <% include ../topnav.html %>
        <!-- end TOP NAVIGATION -->

        <!-- begin SIDE NAVIGATION -->
        <% include project_sidenav.html %>        
        <!-- end SIDE NAVIGATION -->

        <!-- begin MAIN PAGE CONTENT -->
        <div id="page-wrapper"  style="height:100%; overflow:hidden;">

            <div class="page-content">

            <!-- Basic Form Example -->
                            <!--div class="col-lg-12" style="margin-top:20px;">

                                <div class="portlet portlet-default" style="border-style:none;"> 

                                    <div id="basicFormExample" class="panel-collapse collapse in">
                                        <div class="portlet-body">
                                            <form role="form">
                                              <!-- begin PAGE TITLE ROW -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>
                                所有的讨论
                                <small></small>
                            </h1>
                        </div>
                    </div>
                
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE ROW -->  
                <div class="panel panel-success">
                  <div class="panel-heading">
                     <div class="panel-title">
                     <h4><%=project.name%></h4>
                     </div>
                  </div>

                <div class="panel-body">

                <input id='newTopicTitleInput' class="form-control input-lg" type="text" placeholder="话题题目" style="margin-top:20px;margin-bottom:20px;">

                 <!--input id='newTopicBodyInput' class="form-control input-lg" type="text" placeholder="话题Body" style="margin-top:20px;margin-bottom:20px;"-->
                <div id="summernote">       
                </div>
                <h4 style="font-weight:normal;">发送通知给:</h4>
                <div class="team-member" style="margin-top:20px;">
                <div class="col-lg-12">
                     <label><input type="checkbox" onclick="selectAll(this)" id="all"><span style="margin-left:10px;">全部</span></label>
                </div>
                <div class="col-lg-2">
                   <label><input type="checkbox" value="" onclick="selectAllGroup(this,'group1')"><span class="label label-success" style="margin-left:15px;">开发部小组</span></label>
                 </div>
                 <div class="col-lg-10">  
                      <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group1"><span style="margin-left:10px;">member1</span></label>
                      <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group1"><span style="margin-left:10px;">member1</span></label>
                </div>
                <div class="col-lg-2">
                   <label><input type="checkbox" onclick="selectAllGroup(this,'group2')"><span class="label label-success" style="margin-left:15px;">技术部小组</span></label>
                </div>
                <div class="col-lg-10">
                      <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group2"><span style="margin-left:10px;">member1</span></label>
                      <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group2"><span style="margin-left:10px;">member1</span></label>
                      <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group2"><span style="margin-left:10px;">member1</span></label>
                </div>

                <div class="col-lg-2">
                   <label><input type="checkbox" onclick="selectAllGroup(this,'group3')"><span class="label label-success" style="margin-left:15px;">UI设计小组</span></label>
                </div>
                <div class="col-lg-10">
                      <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group3"><span style="margin-left:10px;">member1</span></label>
                      <label style="margin-right:30px;font-weight:normal;"><input type="checkbox" name="group3"><span style="margin-left:10px;">member1</span></label>
                </div>
                </div>
                <div class="publishTopic">
                <button id='postTopicButton' class="btn btn-white" style="margin-top:5px;">发起讨论</button>
                <a href="/project_topic/<%=project._id%>" style="vertical-align:middle;margin-left:30px;font-size:15px;text-decoration:none">取消</a>
                </div>


                <!--    Topics List            -->
                <!-- Basic Responsive Table -->
                       <div class="portlet portlet-default" style="margin-top:30px; border-style:none;">
                            
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <% include topicTable.html%>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.portlet -->

                <!--    End Topics List-->
                   </div>
                    </div>
            </div>
            <!-- /.page-content -->

        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->

    </div>
    <!-- /#wrapper -->

    <% include ../footer.html %>
    <script src="/js/project/project_newTopic.js"></script>
    <script src="/js/project/deleteTopic.js"></script>
     <script>
    $(document).ready(function() {
        $('#summernote').summernote({
            height: 300,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
            ]

        });
    });
    function selectAll(o){
      var member = document.getElementsByTagName("input");
      for(var i=0;i<member.length;i++)
      {
          if(member[i].type=="checkbox")
        {
           if(o.checked==true)
              member[i].checked=true;
           else if(o.checked==false)
              member[i].checked=false;
        }
      }
    }
    function selectAllGroup(o,name){
        var member = document.getElementsByName(name);
        for(var i=0;i<member.length;i++)
        {
            if(o.checked==true)
                    member[i].checked=true;
            else if(o.checked==false)
                member[i].checked=false;
        }
    }
    </script>

</body>

</html>
