<!DOCTYPE html>
<html lang="en">

<head>
    
    <% include ../header.html%>
    <title>EasyAgile—用户中心</title>
    <style type="text/css">
    .fa:hover{
        cursor: pointer;
    }
    .project_div_class{
        
    }
    .project_div_class:hover{
        color:#fff;
        text-decoration:none;
        -moz-box-shadow:1px 2px 20px #333333; -webkit-box-shadow:1px 2px 20px #333333; box-shadow:1px 2px 20px #333333;
    }
    </style>

</head>

<body>
    <div id="wrapper">

        <!-- begin TOP NAVIGATION -->
        <% include ../topnav.html %>        
        <!-- end TOP NAVIGATION -->

        <!-- begin SIDE NAVIGATION -->
        <% include user_sidenav.html%>
        <!-- end SIDE NAVIGATION -->

        <!-- begin MAIN PAGE CONTENT -->
        <div id="page-wrapper">

            <div class="page-content">

               


                <!-- begin PAGE TITLE AREA -->
                <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
                <!--
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                           <h1>星标项目
                               <small></small>
                            </h1>
                        </div>
                    </div>
                </div>

                <div id="star-project-row" class="row">

                </div>
                -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>当前项目
                                <small></small>
                            </h1>                                                     
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div> 
                <div id="current-project-row" class="row"> 
                           
                </div>
                  
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>归档项目
                                <small></small>
                                 <a id="showArchivePro" style="color:#4682b4;font-size:20px;cursor:pointer;text-decoration:none">显示</a> 
                            </h1>                                                     
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>


                <div id='finished-project-row' class="row" style="display:none">                                                        
                </div>

            </div>
            <!-- /.page-content -->

        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->

    </div>
    <!-- /#wrapper -->
    
    <!-- begin NEW PROJECT AREA -->
    <div id="new-project-form" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">新建项目</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="new-project-name-input" class="col-sm-2 control-label">项目名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="new-project-name-input" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new-project-des-input" class="col-sm-2 control-label">项目描述</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="new-project-des-input" placeholder="Des">
                        </div>
                    </div>          
                </form>
            </div>
            <div class="modal-footer">
                <button id='new-project-close' type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
                <button id='new-project-button' type="button" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
    <!-- end NEW PROJECT CONTENT -->

    <% include ../footer.html %>
    <!-- Easy Pie Chart -->
    <script src="/plugins/easypiechart/jquery.easypiechart.min.js"></script>

    <script src="/js/user/user_project.js"></script>
</body>

</html>
