<!-- begin SIDE NAVIGATION -->
<nav class="navbar-side" role="navigation">
    <div class="navbar-collapse sidebar-collapse collapse">
        <ul id="side" class="nav navbar-nav side-nav">
            <!-- begin SIDE NAV USER PANEL -->
            <li class="side-user hidden-xs">
                <form id='iconFormSidenav' enctype="multipart/form-data">
                    <input id="iconUploadSidenav" type="file" name="icon" multiple="" style="width: 160px;height: 160px;cursor: pointer;font-size: 30px;outline: medium none;position: absolute;filter:alpha(opacity=0);-moz-opacity:0;opacity:0; left:0px;top: 0px;">
                    <% if(user.icon) {%>
                    <img id='userIconSidenav' class="img-circle" style="width:160px" src="/<%= user.icon%>" alt='/usericons/default.jpg'>
                    </img>
                    <%}else{%>
                    <img id='userIconSidenav' class="img-circle" style="width:160px" src="/usericons/default.jpg" alt='sorry file miss'>
                    </img>
                    <%}%>
                </form>
                <i class="fa fa-pencil" style="color:#FFF;position:relative;top:-30px;left:48px;"></i>
                <p class="name tooltip-sidebar-logout">
                    
                    <span id='user-side-nav-username' class="last-name"><%= user.name %></span>
                    
                    <a style="color: inherit" class="logout_open" href="#logout" data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-sign-out"></i></a>
                </p>
                <div class="clearfix"></div>
            </li>
            <!-- end SIDE NAV USER PANEL -->

            <!-- begin DASHBOARD LINK -->
            <li>
                <a href="/user/<%= user._id %>">
                    <i class="fa fa-dashboard"></i> 项目
                </a>
            </li>
            <!-- end DASHBOARD LINK -->
            <!-- begin CHARTS DROPDOWN -->
            <li>
                <a href="/user_task/<%= user._id %>">
                    <i class="fa fa-edit"></i> 我的任务
                </a>
            </li>
            
            <!-- end CHARTS DROPDOWN -->

            <!-- begin CALENDAR LINK -->
            <li>
                <a href="/user_cal/<%= user._id %>">
                    <i class="fa fa-calendar"></i> 我的日程
                </a>
            </li>
            <!-- end CALENDAR LINK -->                  
            <!-- begin MESSAGE CENTER DROPDOWN -->
            <li>
                <a href="/user_message/<%= user._id %>">
                    <i class="fa fa-inbox"></i> message
                </a>
            </li>            
            <!-- end MESSAGE CENTER DROPDOWN -->
            <!-- begin UI ELEMENTS DROPDOWN -->
            <li>
                <a href="#set-user-form" data-toggle="modal" class="dash-demo-footer">
                     <i class="fa fa-wrench"></i> 设置
                </a>
            </li>
                                        
        </ul>
        <!-- /.side-nav -->
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- /.navbar-side -->

<script type="text/javascript">
    uid = '<%= user._id%>';
</script>