<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User Task</title>

    <% include ../header.html%>
        <style type="text/css">
            .fa:hover {
                cursor: pointer;
            }
                a:hover{
        color:#31708f;
    }
        </style>



</head>

<body>

    <div id="wrapper">

        <!-- begin TOP NAVIGATION -->
        <% include ../topnav.html %>
            <!-- end TOP NAVIGATION -->

            <!-- begin SIDE NAVIGATION -->
            <% include user_sidenav.html %>
                <!-- end SIDE NAVIGATION -->


                <!-- begin MAIN PAGE CONTENT -->
                <div id="page-wrapper">

                    <div class="page-content">

                        <!-- begin PAGE TITLE ROW -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="page-title">
                                    <h1>
                                        我的任务
                                    </h1>

                                </div>
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->
                        <!-- end PAGE TITLE ROW -->


                        <!-- begin currnet ROW -->
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">我的任务</div>
                            <%  var now = new Date();
                                    p.forEach(function(x){%>
                            <div class="modal-header">

                                <div class="row">
                                    <div class="col-sm-2">
                                        <h4 style="color:#31708f;" class="modal-title"><%=x.name%></h4>
                                    </div>
                                    <div class="col-sm-2">
                                        <h4 class="modal-title">× <%=x.task.length%> </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                <!--p>One fine body&hellip;</p-->
                                
                                    
                                    <% x.task.forEach(function(y){
                                        var progress = y.progress;
                                        var stateName = '';
                                        if(y.state == 0) stateName = "等待";
                                        if(y.state == 2) stateName = "进行中";
                                        if(y.state == 3) stateName = "待审核";
                                        if(y.state == 4) stateName = "审核中";
                                        if(y.state == 1) stateName = '已完成';
                                        if(y.state == 0 ) progress = 0;
                                        if(y.state == 1 ) progress = 100;
                                        var type = 'warning';
                                        if(y.deadline < now) type='danger';
                                        if(y.startTime > now) type='success';
                                    %>
                                        <div class="row">
                                            <div class="col-sm-10">
                                               
                                                <label style="font-size:medium;">
                                                    <a href="#set-task-form" data-toggle="modal" style="text-decoration:none;"><%= y.title%></a> 
                                                    <span style="margin-left:10px;color:#808080;font-size:13px;"><%=stateName%></span>
                                                </label>                             
                                            </div>

                                            <div class="col-sm-2">
                                                <span class="label label-info"><i class="fa fa-calendar">
                                                <a href="/project_taskboard/<%=x._id%>" data-toggle="modal" style="color: #FFF;font-weight:900;" >进入任务板</a></i></span> 
                                            </div>
                                            
                                        </div> 
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-<%=type%>" role="progressbar" aria-valuenow="<%=progress%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=progress%>%;">
                                                <%if(progress < 10 ){%>
                                                <label style="font-size:medium;color:black">
                                                <%}else{%>
                                                <label style="font-size:medium;">
                                                <%}%>
                                                               </label>
                                            </div>
                                        </div>                                       
                                        <hr />        
                                    <%}) %>
                            </div> 
                            <%})%>                   
                        </div>
                        <!-- end current ROW -->
                        
                        <!-- /.page-content -->

                    </div>
                    <!-- /#page-wrapper -->
                    <!-- end MAIN PAGE CONTENT -->

                </div>
                <!-- /#wrapper -->




                <div id="set-task-form" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img src="/img/myicon.jpg" class="img-circle" style="width:45px; ">
                                </div>
                                <div class="col-sm-5">
                                    <label style="margin-top:12px;">XYN</label>
                                </div>
                                <div class="col-sm-2" style="margin-top:12px;">
                                    <label>
                                        <i class="fa fa-calendar" style="margin-right:12px;"></i>今天
                                    </label>
                                </div>
                                <div class="col-sm-2" style="margin-top:12px;">
                                    <label>
                                        <i class="fa fa-building-o" style="margin-right:12px;"></i>未完成
                                    </label>

                                </div>
                                <div class="col-sm-2" style="margin-top:12px;">
                                    <label>
                                        <i class="fa fa-trash-o" style="margin-right:12px;"></i>删除
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="checkbox" class="selectedTask" name="selectedTask">
                                <label style="font-size:large;">我的任务1</label>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <i class="fa fa-pencil"></i>
                                <label>任务描述</label>
                            </div>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="task-description-input" placeholder="介绍一下这个任务..."></textarea>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-blue" style="margin-top:20px;">保存</button>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <!--button id='set-task-close' type="button" data-dismiss="modal" class="btn btn-info">关闭</button-->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                </div>

                <!-- GLOBAL SCRIPTS -->
                <% include ../footer.html %>

</body>

</html>