<!-- begin SIDE NAVIGATION -->
<nav class="navbar-side" role="navigation">
    <div class="navbar-collapse sidebar-collapse collapse">
        <ul id="side" class="nav navbar-nav side-nav">
            <!-- begin SIDE NAV USER PANEL -->
            <li class="side-user hidden-xs">
                <img class="img-circle" style="width:160px" src="/img/profile-pic.jpg" alt="">
                
                <p class="name tooltip-sidebar-logout">
                    
                    <span id='user-side-nav-username' class="last-name"><%= user.name %></span>
                    
                    <a style="color: inherit" class="logout_open" href="#logout" data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-sign-out"></i></a>
                </p>
                <div class="clearfix"></div>
            </li>
            <!-- end SIDE NAV USER PANEL -->

            <!-- begin DASHBOARD LINK -->
            <li>
                <a href="/user/<%= user._id %>">
                    <i class="fa fa-dashboard"></i> 项目
                </a>
            </li>
            <!-- end DASHBOARD LINK -->
            <!-- begin CHARTS DROPDOWN -->
            <li>
                <a href="/user_task/<%= user._id %>">
                    <i class="fa fa-edit"></i> 我的任务
                </a>
            </li>
            
            <!-- end CHARTS DROPDOWN -->

            <!-- begin CALENDAR LINK -->
            <li>
                <a href="/user_cal/<%= user._id %>">
                    <i class="fa fa-calendar"></i> 我的日程
                </a>
            </li>
            <!-- end CALENDAR LINK -->                  
            <!-- begin MESSAGE CENTER DROPDOWN -->
            <li>
                <a href="/user_message/<%= user._id %>">
                    <i class="fa fa-inbox"></i> message
                </a>
            </li>            
            <!-- end MESSAGE CENTER DROPDOWN -->
            <!-- begin UI ELEMENTS DROPDOWN -->
            <li>
                <a href="#set-user-form" data-toggle="modal" class="dash-demo-footer">
                     <i class="fa fa-wrench"></i> 设置
                </a>
            </li>
                                        
        </ul>
        <!-- /.side-nav -->
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- /.navbar-side -->