    <div class="bb-alert alert alert-info" style="display: none;">
        <span>Hello world callback</span>
    </div>
    <!-- GLOBAL SCRIPTS -->
    
    
    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script src="/plugins/popupoverlay/defaults.js"></script>
    <!-- Logout Notification Box -->
    <% include logout.html %>
   
    <!-- Logout Notification jQuery -->
    <script src="/plugins/popupoverlay/logout.js"></script>
    <!-- HISRC Retina Images -->
    <script src="/plugins/hisrc/hisrc.js"></script>

    <!-- PAGE LEVEL PLUGIN SCRIPTS -->
    <!-- HubSpot Messenger -->
    <script src="/plugins/messenger/messenger.min.js"></script>
    <script src="/plugins/messenger/messenger-theme-flat.js"></script>

    <!-- Moment.js -->
    <script src="/plugins/moment/moment.min.js"></script>
    <!-- jQuery Vector Map 
    <script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/plugins/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    -->
    <!-- THEME SCRIPTS -->
    <script src="/js/flex.js"></script>

    <!-- Modal SCRIPTS -->
    <script src="/plugins/bootstrap-modal/bootstrap-modal.js"></script>  
    <script src="/plugins/bootstrap-modal/bootstrap-modalmanager.js"></script>  

    <!-- Note Editor-->
    
    
    <script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/js/ion.sound.js"></script>  
    <!--script src="/plugins/bootstrap-validator/dist/js/bootstrapValidator.min.js"></script-->
    <script src="/js/bootbox3.js"></script>

    <!--user settings-->
    <script src="/js/user_setting.js"></script>  
    
    <script type="text/javascript">
    var userid = '<%= user._id %>';
    </script>  
    <script src='/js/flashMessage.js'></script>
    <script>
        $(function() {
            FlashMessage.init({
                "selector": ".bb-alert"
            });            
        });
    </script>
    <script src="/js/taskboard/socket.io.js"></script>
    <script src="/js/taskboard/sails.io.js"></script>
    <script src="/js/taskboard/app.js"></script>
    <script src='/js/user/topnav.js'></script>