<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Easy Agile</title>

    <!-- Bootstrap core CSS -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/modern-business.css" rel="stylesheet">
    <link href="/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">  

    <style type="text/css">
    #login-link{
        color:#000;
        background-color:#f8f8ff;
        border-color: #e1e1e1;
        height:32px;
        margin-top:9px;
        padding-top:5px;
    }
    #reg-link{
        color:#000;
        background-color:#f8f8ff;
        border-color: #e1e1e1;
        height:32px;
        margin-top:9px;
        padding-top:5px;
        margin-left:10px;
    }
    #login-link:hover{
        background-color: #fff;
        border-color: #e1e1e1;
    }
    #reg-link:hover{
        background-color: #fff;
        border-color: #e1e1e1;
    }
    .btn{
        background-color:#add8e6;border-color:#bce8f1;color:#000;
    }
    #loginBtn:hover{
        background-color: #e1e1e1;
        border-color:#dcdcdc;
    }
    </style>  
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top nav-top-color" role="navigation" style="background-color:#fff;border-color:#e1e1e1;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" href="/" style="color:#000;"><img src="/img/flex-admin-logo.png" class="img-responsive" style="height:25px; width:120px"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right" >
                    <li><a href="/" style="color:#000;">首页</a>
                    </li>
                    <li ><a href="/mobile" style="color:#000;">移动版</a>
                    </li>

                    <% if(user) {%>    
                    <li>
                        <a href='user/<%= user._id %>'>
                            <%= user.name %>
                        </a>
                    </li>                              
                    <% } else { %>
                    <li><a id="login-link" class='btn  btn-primary' href="login">登陆</a>
                    </li>                    
                    <li><a id="reg-link" class='btn  btn-success' href="reg">注册</a>
                    </li>                    
                    <% } %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <%- req.flash('message') %>

    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('img/slideOne.png');"></div>
                <div class="carousel-caption">
               
                    
                    
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-color:#f5f5f5;');"></div>
                <div class="carousel-caption">
                    <h1>Ready to Style &amp; Add Content</h1>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-color:#f5f5f5;"></div>
                <div class="carousel-caption">
                    <h1>Additional Layout Options at <a href="http://startbootstrap.com">http://startbootstrap.com</a>
                    </h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <h3><i class="fa fa-tasks"></i> 任务管理 & 项目进度管理</h3>
                    <p>创建和管理Sprint，创建每一次Sprint的backlog，以及创建任务并分配到个人。个人可以查看和管理自己的任务。</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h3><i class="fa fa-user"></i> 敏捷团队管理</h3>
                    <p>团队成员添加删除分组与任务分配。</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h3><i class="fa fa-calendar"></i> 个人日程与任务</h3>
                    <p>查看个人任务，在日历上轻松排日程</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h3><i class="fa fa-folder-open"></i> 文件分享 & 在线文档协同编辑</h3>
                    <p>上传文件到文件库，为文件提供云端存储。支持在线文档协同编辑。</p>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    




    <div class="section-colored color1">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2><i class="fa fa-tasks"></i>  任务板</h2>
                    <h3>即刻了解项目全貌</h3>
                    <ul>
                        <li>创建Sprint</li>
                        <li>为每一个Sprint创建Backlog</li>
                        <li>创建任务</li>
                        <li>将任务分类，分配到个人</li>
                        <li>筛选自己的任务并可修改任务进度</li>
                        <li>查看Sprint的燃尽图</li>    
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <div class="section-colored color2">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/700x450">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2><i class="fa fa-calendar"></i>  日程</h2>
                    <h3>在日历上纵览任务</h3>
                    <ul>
                        <li>个人日程，可以查看自己的任务</li>
                        <li>项目日程，可以查看项目的所有任务</li>                      
                    </ul>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->
    
    <div class="section-colored color3">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2><i class="fa fa-folder-open"></i>  文件库与在线文档协同编辑</h2>
                    <h3>云存储 实时协作</h3>
                    <ul>
                        <li>上传文件到文件库</li>
                        <li>项目成员从文件库下载文件</li>
                        <li>与项目成员一起进行文档的在线协同编辑</li> 
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->


    <div class="section-colored color4">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/700x450">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2><i class="fa fa-calendar"></i>  讨论区与Issue</h2>
                    <h3>及时讨论与反馈</h3>
                    <ul>
                        <li>就某一话题发起讨论</li>
                        <li>报告Issue</li>      
                        <li>解决并关闭Issue</li>            
                    </ul>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="container">

        <div class="row well">
            <div class="col-lg-8 col-md-8">
                <h4>安卓端 v0.5上线了!</h4>
                <p>用手机接收查看通知，实时掌握项目进展，浏览任务。</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="mobile.html" style="background-color:white">点击下载</a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; TJ 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/js/modern-business.js"></script>

</body>

</html>
