<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Easy Agile</title>

    <!-- Bootstrap core CSS -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/modern-business.css" rel="stylesheet">
    <link href="/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">    
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top nav-top-color" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" href="/">EasyAgile</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">首页</a>
                    </li>
                    <li><a href="mobile.html">移动版</a>
                    </li>

                    <% if(user) {%>    
                    <li>
                        <a href='user/<%= user._id %>'>
                            <%= user.name %>
                        </a>
                    </li>                              
                    <% } else { %>
                    <li><a class='btn  btn-primary' style='color:white' href="login">登陆</a>
                    </li>                    
                    <li><a class='btn  btn-success' style='color:white' href="reg">注册</a>
                    </li>                    
                    <% } %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <%- req.flash('message') %>

    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('img/slideOne.png');"></div>
                <div class="carousel-caption">
               
                    
                    
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h1>Ready to Style &amp; Add Content</h1>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h1>Additional Layout Options at <a href="http://startbootstrap.com">http://startbootstrap.com</a>
                    </h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <h3><i class="fa fa-tasks"></i> 任务管理和项目进度管理</h3>
                    <p>创建和管理Sprint，创建每一次Sprint的backlog，以及创建任务并分配到个人。个人可以查看和管理自己的任务。</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h3><i class="fa fa-user"></i> 敏捷团队管理</h3>
                    <p>团队成员添加删除分组与任务分配。</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h3><i class="fa fa-user"></i> 敏捷团队管理</h3>
                    <p>团队成员添加删除分组与任务分配。</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h3><i class="fa fa-folder-open"></i> 文件分享&在线文档协同编辑</h3>
                    <p>上传文件到文件库，为文件提供云端存储。支持在线文档协同编辑。</p>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    




    <div class="section-colored">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2><i class="fa fa-tasks"></i>  任务板</h2>
                    <h3>即刻了解项目全貌</h3>
                    <ul>
                        <li>创建Sprint</li>
                        <li>为每一个Sprint创建Backlog</li>
                        <li>创建任务</li>
                        <li>将任务分类，分配到个人</li>
                        <li>筛选自己的任务并可修改任务进度</li>
                        <li>查看Sprint的燃尽图</li>    
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/700x450">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2><i class="fa fa-calendar"></i>  日程</h2>
                    <ul>
                        <li>个人日程，可以查看自己的任务</li>
                        <li>项目日程，可以查看项目的所有任务</li>                      
                    </ul>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->
    
    <div class="section-colored">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2><i class="fa fa-tasks"></i>  文件库与在线文档协同编辑</h2>
                    <h3>云存储 实时协作</h3>
                    <ul>
                        <li>创建Sprint</li>
                        <li>为每一个Sprint创建Backlog</li>
                        <li>创建任务</li>
                        <li>将任务分类，分配到个人</li>
                        <li>筛选自己的任务并可修改任务进度</li>
                        <li>查看Sprint的燃尽图</li>    
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <div class="container">

        <div class="row well">
            <div class="col-lg-8 col-md-8">
                <h4>安卓端 v0.5上线了!</h4>
                <p>用手机接收查看通知，实时掌握项目进展，浏览任务。</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="mobile.html">点击下载</a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; TJ 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/js/modern-business.js"></script>

</body>

</html>
