<!-- Logout Notification Box -->
    <div id="logout"  style='visibility:hidden'>
        <div class="logout-message">
            <%if(user.icon){%>
            <img class="img-circle img-logout" src="/<%=user.icon%>" alt="" style="width:200px;height:200px;">
            <%}else{%>
            <img class="img-circle img-logout" src="/usericons/default.jpg" alt=""style="width:200px;height:200px;">
            <%}%>
            <h3>
                <i class="fa fa-sign-out text-green"></i> 确认退出
            </h3>
            <p>选择下面的 "注销" 结束会话.</p>
            <ul class="list-inline">
                <li>
                    <a href="/logout" class="btn btn-green">
                        <strong>注销</strong>
                    </a>
                </li>
                <li>
                    <button class="logout_close btn btn-green">取消</button>
                </li>
            </ul>
        </div>
    </div>