<% include header.html%>
	  <div class="hero-unit">
		 <h1>欢迎来到 Easy Agile</h1>
		 <p>Easy Agile是一个基于 Node.js 的项目管理系統。</p>
		 <p>
			 <% if(project) { %>
			 <p>
			 	<%= project.name %>
			 </p>
			 <p>
			 	<%= project.startDate %>
			 </p>
			 <p>
			 	<%= project.des %>
			 </p>
			 <% } %>
		 </p>
		 <button id='bb' name='click' class="button">click me</button>
	 </div>
	 <script src="/javascripts/jquery-1.8.2.min.js"></script>
	 <script type="text/javascript">	
	 	$(function(){ 	 		
	 		$( "#bb" ).click(function(){
	 			$.ajax({
	            type: 'PUT',
	            url: '/API/p/535b636d57a1debf200297f2/r',
	            dataType: 'json',
	            data: {
	                requirements: [
					  {
					    "description": "this is a requirement",
					    "level": 3,
					    "_id": "535b9640254d31742426d4a5"
					  },		
					  {
					    "description": "this is a requirement",
					    "level": 4,
					   
					  },
					  {
					    "description": "this is a requirement",
					    "level": 5,
					
					  },			  
					]
	            },	           
	            success: function(data){
	            	alert(data);
	                if(data.state === 'error')
	                    alert('error! '+ data.message);
	                if(data.state === 'success')
	                {                    
	                    location.href = "user/"+data.user._id;
	                }
	            }            
        	});
	 		});	 
 		});
	 </script>
<% include footer.html%>
