 <!-- begin SIDE NAVIGATION -->
        <nav class="navbar-side" role="navigation">
            <div class="navbar-collapse sidebar-collapse collapse">
                <ul id="side" class="nav navbar-nav side-nav">
                    
                    <!-- begin SIDE NAV USER PANEL -->
                    <li class="side-user hidden-xs">                        
                        <p class="name tooltip-sidebar-logout">           
                            <a style="color: inherit" href="/user/<%= user._id%>" data-toggle="tooltip" data-placement="top" title="back to user">
                                <i class="fa fa-mail-reply"></i>
                            </a>                                       
                            <span id='project-side-nav-name' class="last-name">Project Name</span>
                        </p>
                        <div class="clearfix"></div>
                    </li>
                    <!-- end SIDE NAV USER PANEL -->
                    <!-- begin SIDE NAV SEARCH -->
                    <li class="nav-search">
                        <form role="form">
                            <input type="search" class="form-control" placeholder="Search...">
                            <button class="btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </li>
                    <!-- end SIDE NAV SEARCH -->
                    <!-- begin DASHBOARD LINK -->
                    <li>
                        <a href="">
                            <i class="fa fa-dashboard"></i> 项目主页
                        </a>
                    </li>
                    
                    <li>
                        <a id='project-side-nav-taskboard' href="/project_taskboard">
                            <i class="fa fa-edit"></i> 任务板
                        </a>
                    </li>
        
                    <li>
                        <a href="/project_schedule">
                            <i class="fa fa-calendar"></i> 日程
                        </a>
                    </li>
                    
                    <li>
                        <a href="/project_issue">
                            <i class="fa fa-table"></i> Issues
                        </a>
                    </li>

                    <li>
                        <a href="/project_files">
                            <i class="fa fa-files-o"></i> 文件库
                        </a>
                    </li>
                                    

                    <li>
                        <a href="/project_topic">
                            <i class="fa fa-inbox"></i> 讨论区
                        </a>
                    </li>                   

                    <li>
                        <a href="/project_settings">
                            <i class="fa fa-wrench"></i> 设置
                        </a>
                    </li>        
                                      
                </ul>
                <!-- /.side-nav -->
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- /.navbar-side -->
        <!-- end SIDE NAVIGATION -->