
<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>

        <meta charset="utf-8">
        <title>EasyAgile 注册</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/supersized.css">
        <link rel="stylesheet" href="css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="page-container">
        <div class="logo">
            <div class="logoimg"></div>
            <h1>EasyAgile</h1>
        </div>
            
            <form action="" method="post">
                <input type="text" name="emailaddress" class="emailaddress" placeholder="您的邮箱">
                <input type="text" name="username" class="username"
                 placeholder="您的名字">
                <input type="password" name="password" class="password" placeholder="您的密码">
                <input type="password" name="repeatpassword" class=
                "repeatpassword" placeholder="重复密码">
                <button type="submit" class="signup">立即注册</button>

                <div class="noLogin">
                <a class="login-signup" href="login.html">登录</a>
                <a class="forgetPassword">找回密码</a>
                </div>

                <div class="error"><span>+</span></div>
            </form>
            <div class="connect">
                <p>合作账号登录</p>
                <p>
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                </p>
            </div>
        </div>
        

        <!-- Javascript -->
        <script src="js/jquery-1.8.2.min.js"></script>
        <script src="js/supersized.3.2.7.min.js"></script>
        <script src="js/supersized-init.js"></script>
        <script src="js/signup/scripts.js"></script>

    </body>

</html>

